{% extends 'base.html.twig' %}

{% block title %}Your profile{% endblock %}

{% block body %}
<style>
    .example-wrapper { margin: 1em auto; max-width: 800px; width: 95%; font: 18px/1.5 sans-serif; }
    .example-wrapper code { background: #F5F5F5; padding: 2px 6px; }
</style>

<div class="example-wrapper">
    <h1>Profile: {{ guest.firstName}} {{ guest.secondName }}</h1>

    Actions:
    <ul>
        <li><a href="{{ path('index') }}">Back to shop</a></li>
        <li><a href="{{ path('edit_profile') }}">Edit profile</a></li>
        <li><a href="{{ path('my_cart') }}">My cart</a></li>
        <li><a href="{{ path('my_orders') }}">My orders</a></li>
        <li><a href="{{ path('logout') }}">Logout</a></li>
    </ul>
</div>
{% endblock %}
